<div class="flex flex-col gap-4 w-[400px] my-24 mb-20">
  <div>
    <h2 class="text-3xl font-medium">Sign In</h2>
    <p class="text-gray-600">Sign in to access you account.</p>
  </div>

  <p-divider></p-divider>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p-toast></p-toast>
    <p-messages [(value)]="alerts" [enableService]="false" [closable]="true"></p-messages>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col w-full">
        <div class="flex flex-col gap-2">
          <label for="email">E-Mail</label>
          <input
            pInputText
            required
            type="email"
            id="email"
            placeholder="john.doe@gmail.com"
            formControlName="email" />
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <small *ngIf="email.errors?.['required']" class="p-error">Email is required.</small>
          <small *ngIf="email.errors?.['email']" class="p-error">Invalid email address.</small>
          <small *ngIf="email.errors?.['serverError']" class="p-error">
            {{ email.errors['serverError'] }}
          </small>
        </div>
      </div>

      <div class="flex flex-col w-full">
        <div class="flex flex-col gap-2">
          <label for="password">Password</label>
          <input
            pInputText
            required
            type="password"
            id="password"
            placeholder="Password (min 8 characters)"
            formControlName="password" />
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <small *ngIf="password.errors?.['required']" class="p-error">
            Password is required.
          </small>
          <small *ngIf="password.errors?.['minlength']" class="p-error">
            Password must be at least 8 characters.
          </small>
          <small *ngIf="password.errors?.['serverError']" class="p-error">
            {{ password.errors['serverError'] }}
          </small>
        </div>
      </div>

      <p-divider></p-divider>

      <div class="flex flex-col gap-2">
        <button
          pButton
          label="Sign In"
          type="submit"
          [disabled]="loginForm.disabled || !loginForm.valid"></button>
      </div>
    </div>
  </form>
</div>
