<div class="mt-10">
  <header class="flex items-center justify-between pb-10 mb-10 border-b border-gray-200">
    <div>
      <h2 class="text-2xl font-medium tracking-tight text-gray-900">Employees Invitations</h2>
      <p class="leading-8 text-gray-500 text-md">
        Display all invitations from recruiters to the meetings.
      </p>
    </div>
    <div></div>
  </header>
  <div *ngIf="!isLoading; else loadingResults">
    <div *ngIf="results.data.length; else emptyResults">
      <p-table [value]="results.data" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invitation>
          <tr>
            <td>{{ invitation.id }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <ng-template #emptyResults>
      <p class="pt-6 leading-8 text-center text-gray-500 text-md">
        There are no invitations found.
      </p>
    </ng-template>
  </div>
  <ng-template #loadingResults>
    <div class="flex flex-col gap-3">
      <p-skeleton height="5rem"></p-skeleton>
      <p-skeleton height="5rem"></p-skeleton>
      <p-skeleton height="5rem"></p-skeleton>
    </div>
  </ng-template>
</div>
