<p-dialog
  header="{{ header }}"
  [(visible)]="isVisible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onModalClosed()">
  <form [formGroup]="modalForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col w-full">
      <div class="flex flex-col gap-2">
        <label for="name">Name</label>
        <input
          pInputText
          required
          type="text"
          id="name"
          placeholder="Angular"
          formControlName="name" />
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <small *ngIf="name.errors?.['required']" class="p-error">Email is required.</small>
        <small *ngIf="name.errors?.['serverError']" class="p-error">
          {{ name.errors['serverError'] }}
        </small>
      </div>
    </div>

    <div class="flex flex-col w-full">
      <div class="flex flex-col gap-2">
        <label for="level">Level</label>
        <input
          pInputText
          required
          placeholder="1"
          type="number"
          id="level"
          min="1"
          max="5"
          formControlName="level" />
      </div>
      <div *ngIf="level.invalid && (level.dirty || level.touched)">
        <small *ngIf="level.errors?.['required']" class="p-error">Level is required.</small>
        <small *ngIf="level.errors?.['serverError']" class="p-error">
          {{ level.errors['serverError'] }}
        </small>
      </div>
    </div>

    <p-divider></p-divider>

    <div *ngIf="!isEdit" class="flex flex-col gap-2">
      <button
        pButton
        label="Add new skill"
        type="submit"
        class="w-full"
        [disabled]="modalForm.disabled || !modalForm.valid"></button>
    </div>
    <div *ngIf="isEdit" class="flex items-center gap-2">
      <button
        pButton
        label="Update skill"
        type="submit"
        severity="secondary"
        class="w-2/3 p-button-success"
        [disabled]="modalForm.disabled || !modalForm.valid"></button>
      <button
        pButton
        label="Delete skill"
        type="button"
        class="w-1/3 p-button-danger p-button-outlined"
        (click)="destroy()"></button>
    </div>
  </form>
</p-dialog>
