<p-dialog
  header="Invite Employee"
  [(visible)]="isVisible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onModalClosed()">
  <form [formGroup]="modalForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col w-full">
      <div class="flex flex-col gap-2">
        <label for="message">Message</label>
        <textarea
          rows="5"
          cols="30"
          id="message"
          pInputTextarea
          formControlName="message"
          placeholder="I would like to invite you to the ..."></textarea>
      </div>
      <div *ngIf="message.invalid && (message.dirty || message.touched)">
        <small *ngIf="message.errors?.['required']" class="p-error">Message is required.</small>
        <small *ngIf="message.errors?.['serverError']" class="p-error">
          {{ message.errors['serverError'] }}
        </small>
      </div>
    </div>

    <p-divider></p-divider>

    <button
      pButton
      label="Invite Employee"
      type="submit"
      severity="secondary"
      class="p-button-success"
      [disabled]="modalForm.disabled || !modalForm.valid"></button>
  </form>
</p-dialog>
