<header class="">
  <nav class="bg-white py-2.5 dark:bg-gray-800 border-b border-gray-100">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
      <a [routerLink]="'/'" class="flex items-end gap-3">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
          >Tech<span class="text-sky-600">Hub</span>™</span
        >
        <span class="self-center text-sm text-gray-600">#1 in Poland</span>
      </a>
      <div class="items-center justify-between hidden w-full lg:flex lg:w-auto" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          <li>
            <a [routerLink]="'/'" class="block py-2 pl-3 pr-4 text-gray-700">Home</a>
          </li>
          <li>
            <a [routerLink]="'/employee/search'" class="block py-2 pl-3 pr-4 text-gray-700"
              >Talents Search</a
            >
          </li>
          <li>
            <a [routerLink]="'/contact'" class="block py-2 pl-3 pr-4 text-gray-700">Contact</a>
          </li>
        </ul>
      </div>
      <div *ngIf="!isLoading; else loadingButton" class="flex items-center gap-2">
        <p-button
          *ngIf="!authService.isAuthenticated()"
          label="Sign In"
          size="small"
          [outlined]="true"
          icon="pi pi-sign-in"
          [routerLink]="'/auth/login'"></p-button>
        <p-button
          *ngIf="!authService.isAuthenticated()"
          label="Sign Up"
          size="small"
          icon="pi pi-user-plus"
          [routerLink]="'/auth/register'"></p-button>
        <p-splitButton
          *ngIf="authService.isAuthenticated() && userData"
          label="Hi, {{ userData.first_name }}!"
          styleClass="p-button-sm"
          icon="pi pi-user"
          severity="secondary"
          [model]="items">
        </p-splitButton>
      </div>
      <ng-template #loadingButton>
        <p-skeleton width="12rem" height="2.5rem"></p-skeleton>
      </ng-template>
    </div>
  </nav>
</header>
