<div class="w-full">
  <section class="max-w-3xl mx-auto text-center bg-white">
    <div class="max-w-screen-xl pt-16 mx-auto">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg">
        <h2 class="mb-4 text-4xl font-bold tracking-tight text-gray-900">
          Contact our development team
        </h2>
        <p class="mb-4 font-light">
          Welcome to our Contact page, your gateway to direct communication with our dedicated
          development team. Whether you have inquiries, feedback, or collaboration proposals, we are
          eager to hear from you.
        </p>
      </div>
    </div>
  </section>

  <ul role="list" class="max-w-2xl pt-8 mx-auto divide-y divide-gray-100">
    <li class="flex justify-between py-5 gap-x-6">
      <div class="flex max-w-lg gap-x-4">
        <img class="flex-none w-12 h-12 rounded-full bg-gray-50" src="assets/user.jpg" alt="" />
        <div class="flex-auto min-w-0">
          <p class="text-sm font-semibold leading-6 text-gray-900">Dominik Birak</p>
          <p class="text-xs leading-5 text-gray-500 truncate">Back-End</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Laravel</p>
        <a href="https://github.com/dbirak" target="_blank" class="text-xs leading-5 text-gray-500"
          >Github Link</a
        >
      </div>
    </li>
    <li class="flex justify-between py-5 gap-x-6">
      <div class="flex max-w-lg gap-x-4">
        <img class="flex-none w-12 h-12 rounded-full bg-gray-50" src="assets/user.jpg" alt="" />
        <div class="flex-auto min-w-0">
          <p class="text-sm font-semibold leading-6 text-gray-900">Karol Bobowski</p>
          <p class="text-xs leading-5 text-gray-500 truncate">Back-End</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Laravel</p>
        <a
          href="https://github.com/boboskyy"
          target="_blank"
          class="text-xs leading-5 text-gray-500"
          >Github Link</a
        >
      </div>
    </li>
    <li class="flex justify-between py-5 gap-x-6">
      <div class="flex max-w-lg gap-x-4">
        <img class="flex-none w-12 h-12 rounded-full bg-gray-50" src="assets/user.jpg" alt="" />
        <div class="flex-auto min-w-0">
          <p class="text-sm font-semibold leading-6 text-gray-900">Maciej Biel</p>
          <p class="text-xs leading-5 text-gray-500 truncate">Front-End</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Angular</p>
        <a
          href="https://github.com/maciejb2k"
          target="_blank"
          class="text-xs leading-5 text-gray-500"
          >Github Link</a
        >
      </div>
    </li>
    <li class="flex justify-between py-5 gap-x-6">
      <div class="flex max-w-lg gap-x-4">
        <img class="flex-none w-12 h-12 rounded-full bg-gray-50" src="assets/user.jpg" alt="" />
        <div class="flex-auto min-w-0">
          <p class="text-sm font-semibold leading-6 text-gray-900">Kamil Data</p>
          <p class="text-xs leading-5 text-gray-500 truncate">Front-End</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Angular</p>
        <a
          href="https://github.com/kamildata"
          target="_blank"
          class="text-xs leading-5 text-gray-500"
          >Github Link</a
        >
      </div>
    </li>
  </ul>
</div>
