<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <div class="flex items-center gap-5">
    <div class="flex flex-col w-full gap-2">
      <label>First Name</label>
      <input pInputText type="text" class="w-full" />
    </div>
    <div class="flex flex-col w-full gap-2">
      <label>Last Name</label>
      <input pInputText type="text" class="w-full" />
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label for="email">E-Mail</label>
    <input
      pInputText
      type="email"
      id="email"
      formControlName="email"
      [ngClass]="{
        'ng-invalid ng-dirty': loginForm.get('email').touched && loginForm.get('email').invalid
      }" />
    <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
      <small *ngIf="loginForm.get('email').hasError('required')">Email is required</small>
      <small *ngIf="loginForm.get('email').hasError('email')">Invalid email address</small>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label for="password">Password</label>
    <input
      pInputText
      type="password"
      id="password"
      formControlName="password"
      [ngClass]="{
        'ng-invalid ng-dirty':
          loginForm.get('password').touched && loginForm.get('password').invalid
      }" />
    <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
      <small *ngIf="loginForm.get('password').hasError('required')">Password is required</small>
      <small *ngIf="loginForm.get('password').hasError('minlength')"
        >Password must be at least 8 characters</small
      >
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label for="password">Repeat Password</label>
    <input pInputText type="password" />
  </div>

  <p-divider></p-divider>

  <p-button label="Sign Up as a Employee" type="submit" severity="success"></p-button>
</form>
