<div class="max-w-3xl mt-10">
  <div class="flex flex-row items-center pb-6 border-b border-gray-200">
    <div class="relative">
      <img class="object-cover w-16 h-16 rounded-md" src="assets/user.jpg" alt="User" />
      <div
        class="absolute w-5 h-5 bg-green-400 border-4 border-white rounded-full -right-3 bottom-5 sm:top-2 sm:invisible md:visible"
        title="User is online"></div>
    </div>

    <div class="flex flex-col px-8">
      <div class="flex flex-row items-center h-8">
        <a href="#" target="_blank">
          <h2 class="text-lg font-semibold">Margot Foster</h2>
        </a>
      </div>

      <div class="flex flex-row space-x-3">
        <div class="flex flex-row">
          <i class="w-4 h-4 mr-1 pi pi-map-marker fill-gray-500/80" style="font-size: 0.8rem"></i>
          <div class="text-xs text-gray-500 hover:text-gray-400">Rzeszów, Polska</div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-10 pb-16">
    <div>
      <h3 class="flex items-center gap-3 text-base font-semibold leading-7 text-gray-900">
        <i class="pi pi-info-circle"></i>Summary Informations
      </h3>
      <p class="max-w-2xl text-sm leading-6 text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, dolorem.
      </p>
    </div>
    <div class="mt-6 border-t border-gray-200">
      <dl class="divide-y divide-gray-200">
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Margot Foster</dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Application for</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            Backend Developer
          </dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Address</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            Glory Hole 47, San Francisco, California, USA
          </dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Salary expectation</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">$120,000</dd>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa
            consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit
            nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing
            reprehenderit deserunt qui eu.
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="pb-16">
    <div>
      <h3 class="flex items-center gap-3 text-base font-semibold leading-7 text-gray-900">
        <i class="pi pi-bolt"></i>Skills
      </h3>
      <p class="max-w-2xl text-sm leading-6 text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, dolorem.
      </p>
    </div>
    <div class="mt-6 border-t border-gray-200">
      <div class="flex items-center gap-3 mt-6">
        <span
          class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md text-sky-700 bg-sky-50 ring-1 ring-inset ring-sky-700/10"
          >JavaScript</span
        >
        <span
          class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md text-sky-700 bg-sky-50 ring-1 ring-inset ring-sky-700/10"
          >TypeScript</span
        >
        <span
          class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md text-sky-700 bg-sky-50 ring-1 ring-inset ring-sky-700/10"
          >React</span
        >
        <span
          class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md text-sky-700 bg-sky-50 ring-1 ring-inset ring-sky-700/10"
          >Angular</span
        >
        <span
          class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md text-sky-700 bg-sky-50 ring-1 ring-inset ring-sky-700/10"
          >ESLint</span
        >
      </div>
    </div>
  </div>

  <div class="pb-16">
    <div class="flex items-center justify-between">
      <div>
        <h3 class="flex items-center gap-3 text-base font-semibold leading-7 text-gray-900">
          <i class="pi pi-briefcase"></i>Work Experience
        </h3>
        <p class="max-w-2xl text-sm leading-6 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, tempore.
        </p>
      </div>
      <div></div>
    </div>
    <div class="mt-6 border-t border-gray-200">
      <ul role="list" class="divide-y divide-gray-200">
        <li class="flex justify-between py-5 gap-x-6">
          <div class="flex min-w-0 gap-x-4">
            <img
              class="flex-none w-12 h-12 rounded-full bg-gray-50"
              src="assets/building.jpg"
              alt="" />
            <div class="flex-auto min-w-0">
              <p class="text-sm font-semibold leading-6 text-sky-600">Senior DevOps Engineer</p>
              <p class="text-xs leading-5 text-gray-500 truncate">Virtus Lab</p>
              <p class="mt-4 text-xs text-gray-400">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates pariatur
                quibusdam aliquam corrupti delectus ipsum tempore architecto excepturi mollitia
                quis?
              </p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-xs font-semibold leading-6 text-gray-900">01.01.2020r - 01.06.2020r</p>
            <p class="text-xs leading-5 text-gray-500">5 months</p>
          </div>
        </li>
        <li class="flex justify-between py-5 gap-x-6">
          <div class="flex min-w-0 gap-x-4">
            <img
              class="flex-none w-12 h-12 rounded-full bg-gray-50"
              src="assets/building.jpg"
              alt="" />
            <div class="flex-auto min-w-0">
              <p class="text-sm font-semibold leading-6 text-sky-600">Security Administrator</p>
              <p class="text-xs leading-5 text-gray-500 truncate">Uniwersytet Rzeszowski</p>
              <p class="mt-4 text-xs text-gray-400">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates pariatur
                quibusdam aliquam corrupti delectus ipsum tempore architecto excepturi mollitia
                quis?
              </p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-xs font-semibold leading-6 text-gray-900">01.01.2020r - 01.06.2020r</p>
            <p class="text-xs leading-5 text-gray-500">5 months</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <div>
        <h3 class="flex items-center gap-3 text-base font-semibold leading-7 text-gray-900">
          <i class="pi pi-book"></i>Education
        </h3>
        <p class="max-w-2xl text-sm leading-6 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, tempore.
        </p>
      </div>
      <div></div>
    </div>
    <div class="mt-6 border-t border-gray-200">
      <ul role="list" class="divide-y divide-gray-200">
        <li class="flex justify-between py-5 gap-x-6">
          <div class="flex min-w-0 gap-x-4">
            <img
              class="flex-none w-12 h-12 rounded-full bg-gray-50"
              src="assets/education.jpg"
              alt="" />
            <div class="flex-auto min-w-0">
              <p class="text-sm font-semibold leading-6 text-sky-600">Informatyka</p>
              <p class="text-xs leading-5 text-gray-500 truncate">Uniwersytet Rzeszowski</p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-xs font-semibold leading-6 text-gray-900">01.01.2020r - 01.06.2020r</p>
            <p class="text-xs leading-5 text-gray-500">5 months</p>
          </div>
        </li>
        <li class="flex justify-between py-5 gap-x-6">
          <div class="flex min-w-0 gap-x-4">
            <img
              class="flex-none w-12 h-12 rounded-full bg-gray-50"
              src="assets/education.jpg"
              alt="" />
            <div class="flex-auto min-w-0">
              <p class="text-sm font-semibold leading-6 text-sky-600">Technik Informatyk</p>
              <p class="text-xs leading-5 text-gray-500 truncate">Zespół Szkół Elektronicznych</p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-xs font-semibold leading-6 text-gray-900">01.01.2020r - 01.06.2020r</p>
            <p class="text-xs leading-5 text-gray-500">5 months</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
