<div class="max-w-3xl mx-auto mt-10">
  <div *ngIf="!isLoading" class="flex flex-row items-center pb-6 border-b border-gray-200">
    <div class="relative">
      <div class="profile-picture">
        <ng-container *ngIf="userData.recruiter.user.avatar; else defaultAvatar">
          <img
            class="object-cover w-16 h-16 rounded-md"
            [src]="'http://localhost:8000/storage/avatars/' + userData.recruiter.user.avatar"
            alt="User" />
          <div
            class="overlay overlay--delete"
            *ngIf="userData.recruiter.user.avatar"
            (click)="deleteProfilePicture()">
            <i class="pi pi-trash"></i>
          </div>
        </ng-container>
        <ng-template #defaultAvatar>
          <div class="object-cover w-16 h-16 rounded-md default-avatar">
            <img class="object-cover w-16 h-16 rounded-md" src="assets/user.jpg" alt="User" />
          </div>
          <div class="overlay overlay--add" (click)="handleProfilePictureClick()">
            <i class="pi pi-plus"></i>
          </div>
        </ng-template>
      </div>
      <input type="file" id="uploader" hidden (change)="onFileSelected($event)" />
      <div
        class="absolute w-5 h-5 bg-green-400 border-4 border-white rounded-full -right-3 bottom-5 sm:top-2 sm:invisible md:visible"
        title="User is online"></div>
    </div>

    <div class="flex flex-col px-8">
      <div class="flex flex-row items-center h-8">
        <a href="#" target="_blank">
          <h2 class="text-lg font-semibold">
            {{ userData.recruiter.user.first_name }} {{ userData.recruiter.user.last_name }}
          </h2>
        </a>
      </div>

      <div class="flex flex-row space-x-3">
        <div class="flex flex-row">
          <i class="w-4 h-4 mr-1 pi pi-map-marker fill-gray-500/80" style="font-size: 0.8rem"></i>
          <div class="text-xs text-gray-500 hover:text-gray-400">
            {{
              userData.recruiter.company_name ? userData.recruiter.company_name : 'Unknown address'
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col ml-auto"></div>
  </div>
  <ng-template #loadingHeader>
    <div class="flex items-center pb-6 mb-3 border-b border-gray-200">
      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
      <div>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </ng-template>

  <div class="py-10 pb-16">
    <div class="flex items-center justify-between">
      <div>
        <h3 class="flex items-center gap-3 text-base font-semibold leading-7 text-gray-900">
          <i class="pi pi-info-circle"></i>Summary Information
        </h3>
        <p class="max-w-2xl text-sm leading-6 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, dolorem.
        </p>
      </div>
      <div></div>
    </div>
    <div *ngIf="!isLoading; else loadingInfo" class="mt-6 border-t border-gray-200">
      <dl class="divide-y divide-gray-200">
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Company Name</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            {{ userData.recruiter.company_name ? userData.recruiter.company_name : '-' }}
          </dd>
        </div>
      </dl>
    </div>
    <ng-template #loadingInfo>
      <div class="py-4 mt-6 border-t border-gray-200">
        <p-skeleton styleClass="mb-2" height="3rem"></p-skeleton>
        <p-skeleton styleClass="mb-2" height="3rem"></p-skeleton>
        <p-skeleton styleClass="mb-2" height="3rem"></p-skeleton>
      </div>
    </ng-template>
  </div>
</div>
